Source: electrotest
Maintainer: Lorenz Gerber <lorenzottogerber@gmail.com>
Section: misc
Priority: optional


Package: electrotest
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: calculate E12 replacement resitances.